.main {
    background: rgb(1, 76, 105);
    width: 95%;
    height: 100vh;
    margin: auto;
    padding-top: 1rem;
}

.entry {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}