.button {
    display: block;
    padding: .8rem;
    margin: 2.5rem auto;
    border: 1px solid #fff;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: rgb(255, 184, 4);
    color: #fff;
    transition: all .3s ease-in;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s ease-in;
}